body {
    font-family: Roboto Mono, monospace;
}

.header-theme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    margin-bottom: -20px;
    margin-left: 20px;
    margin-right: 20px;
}

.header-texte {
    font-size: 60%;
    margin-left: 10px;
}

i {
    font-size: xx-large;
}

.section-title {
    font-size: 140%;
    font-weight: bold;
    margin: 10px;
}

.nom-contact-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px
}

.contact-list {
    display: flex;
    flex-flow: column nowrap;
}

.contact-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-center;
    margin: 10px;
}

.contact-title {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 10px;
}

.box-section {
    border: 5px solid darkblue;
    border-radius: 30px;
}

.box-section-resume {
    border: 5px solid darkblue;
    border-radius: 30px;
    width: 90%;
    margin: 0 auto;
}

.section-resume {
    margin: 10px;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 80%;
}

.comp-exp-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-content: stretch;
}

.box-section-comp {
    border: 5px solid darkblue;
    border-radius: 30px;
    width: 90%;
}

.comp-list {
    display: flex;
    flex-flow: column nowrap;
}

.comp-item {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
}

.comp-title-java {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    transition: transform .2s;
}

.comp-title-java:hover {
    transform: scale(1.2);
}

.comp-title-angular {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    transition: transform .2s;
}

.comp-title-angular:hover {
    transform: scale(1.2);
}


.comp-title-pg {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    transition: transform .2s;
}

.comp-title-pg:hover {
    transform: scale(1.2);
}


.comp-title-git {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    transition: transform .2s;
}

.comp-title-git:hover {
    transform: scale(1.2);
}


.comp-title-idq {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    transition: transform .2s;
}

.comp-title-idq:hover {
    transform: scale(1.2);
}

.rating {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: auto;
    margin-right: 10%;
}

.fa {
    margin-inline: 10px;
    transition: transform .2s;
}

.fa:hover {
    transform: scale(1.5);
}

.hovertext-rating {
    position: relative;
}

.hovertext-rating:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    border: 1px solid darkblue;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
}

.hovertext-rating:hover:before {
    opacity: 1;
    visibility: visible;
}

.checked {
    color: darkblue;
}

.hover-comp-java {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.hover-comp-angular {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.hover-comp-pg {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.hover-comp-git {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.hover-comp-idq {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.box-section-exp {
    border: 5px solid darkblue;
    border-radius: 30px;
    width: 90%;
}

.exp-list {
    display: flex;
    flex-flow: column nowrap;
}

.exp-title-items {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 10px;
    transition: transform .2s;
    transform-origin: left center;
}

.exp-title-items:hover {
    transform: scale(1.03);
    transform-origin: left center;
}

.hover-exp-title-items {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.exp-item-dev {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.exp-item-dev:hover {
    transform: scale(1.05);
}

.hover-exp-dev {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.exp-item-rdd {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.exp-item-rdd:hover {
    transform: scale(1.05);
}

.hover-exp-rdd {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.exp-item-fonc {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.exp-item-fonc:hover {
    transform: scale(1.05);
}

.hover-exp-fonc {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}

.exp-item-gestion {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.exp-item-gestion:hover {
    transform: scale(1.05);
}

.hover-exp-gestion {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid darkblue;
    border-radius: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    font-size: 80%;
}