<section id="aPropos" class="section-component">

  <div class="nom-titre">
    <div class="nom">Eliott CARTRON</div>
    <div class="titre-section">Développeur Full-stack</div>
  </div>

  <div class="intro">
    <div class="texte-secondaire">Reconverti et passionné, je m'épanouis professionnellement en Gironde (33) dans le numérique depuis 2020.</div>
    <br/>
    <div class="texte-secondaire">J'ai à coeur de concevoir et développer des fonctionnalités et applications de bout-en-bout : du recueil du
      besoin jusqu'à la mise en production.</div>
    <br/>
    <div class="texte-secondaire">Je suis quelqu'un de rigoureux, curieux et autonome : j'aime apprendre tous les jours et me rendre utile au sein
      d'une équipe dans le respect et la bonne humeur !</div>
  </div>

</section>
